<div class="container task">
    <div class="row justify-content-between task__margin">
        <div class="col-3 ">
            <h4>My Tasks</h4>
        </div>
        <div class="col-4">
            <tola-button-component buttonClass="button--navy btn" (click)="createTaskModal.show()">New Task</tola-button-component>
        </div>
        <!-- create task modal -->
        <div bsModal #createTaskModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title offset-md-5 font3">Add Task</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="createTaskModal.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="createTaskForm" novalidate>
                            <div class="form-group row">
                                <label for="task" class="col-md-2 col-sm-2 col-form-label">Title:</label>
                                <div class="col-md-10 col-sm-10">
                                    <input type="text" id="task" class="form-control" formControlName="task">
                                    <div *ngIf="!createTaskForm.controls.task?.valid && (createTaskForm.controls.task?.dirty ||createTaskForm.controls.task?.touched)" class="alert alert-danger">
                                        <div [hidden]="!createTaskForm.controls.task.errors.required">
                                        Title is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="note" class="col-md-2 col-sm-2 col-form-label">Description:</label>
                                <div class="col-md-10 col-sm-10">
                                    <textarea type="text" id="note" class="form-control" formControlName="note" rows="5"></textarea>
                                    <div *ngIf="!createTaskForm.controls.note?.valid && (createTaskForm.controls.note?.dirty ||createTaskForm.controls.note?.touched)" class="alert alert-danger">
                                        <div [hidden]="!createTaskForm.controls.note.errors.required">
                                        Description is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="due_date" class="col-md-2 col-sm-2 col-form-label">Due Date:</label>
                                <div class="col-md-10 col-sm-10">
                                    <input type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control" id="due_date" placeholder="Enter Date" formControlName="due_date">
                                    
                                   <!--  <input type="text"  value="{{ due_date | date:'yMd'}}"
                                           bsDatepicker [due_date]="due_date" formControlName="due_date">
                                    <span style="display: inline-block">
                                      <button class="btn btn-success" (click)="dp.toggle()">Date Picker popup</button>
                                      <bs-datepicker #dp [due_date]="due_date" style="display: block"></bs-datepicker>
                                    </span> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="priority" class="col-md-2 col-sm-2 col-form-label">Priority:</label>
                                <div class="col-md-10 col-sm-10">
                                    <div class="form-group">
                                        <select class="form-control" id="priority" formControlName="priority">
                                          <option value=1>High</option>
                                          <option value=2>Normal</option>
                                          <option value=3>Low</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="assigned_to" class="col-md-2 col-sm-2 col-form-label">Assigned to:</label>
                                <div class="col-md-10 col-sm-10">
                                    <div class="form-group">
                                        <select class="form-control" id="assigned_to" formControlName="assigned_to">
                                            <option *ngFor="let user of tolausers" value={{user.id}}>{{user.username}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <input type="text" id="email" class="form-control" formControlName="submitter_email" hidden>
                            <input type="text" id="created_by" class="form-control" formControlName="created_by" hidden>
                            <div class="text-center">
                                <button class="btn-secondary btn" (click)="createTask(createTaskForm.value)" [disabled]="!createTaskForm.valid">Submit</button>
                                <button class="button--cancel btn" type="reset">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-8 col-xs-6 task__main">
            <div class="row align-items-start task__margin">
                <div class="col">
                    <select class="form-control" #status (change)="filterTask('status',status.value)">
                  <option disabled>Status</option>
                  <option [value]=1>Active</option>
                  <option [value]=2>Reopened</option>
                  <option [value]=3>Completed</option>
                  </select>
                </div>
                <div class="col">
                    <select class="form-control" #priority (change)="filterTask('priority',priority.value)">
                  <option disabled>Priority</option>
                  <option [value]=1>High</option>
                  <option [value]=2>Normal</option>
                  <option [value]=3>Low</option>
                </select>
                </div>
                <div class="col">
                    <select class="form-control" #assigned (change)="filterTask('assigned',assigned.value)">
                  <option disabled>Assignee</option>
                  <option *ngFor="let user of tolausers" value={{user.id}}>{{user.username}}</option>
                </select>
                </div>
                <div class="col">
                    <tola-button-component buttonClass="button--cancel btn-sm btn" (click)="getAllTasks()">Reset Filter(s)</tola-button-component>
                </div>
            </div>
            <!-- if no tasks exist -->
            <div class="alert alert-info" role="alert" *ngIf="tasks?.length == 0">
                No tasks were found!
            </div>
            <!-- success alerts -->
            <div *ngIf="confirm_creation"> 
                <alert type="success" dismissible="true" dismissOnTimeout="5000">
                  <strong>Success!</strong>  {{confirm_creation}}
                </alert>
            </div> 
            <div *ngIf="confirm_edition"> 
                <alert type="success" dismissible="true" dismissOnTimeout="5000">
                  <strong>Success!</strong> {{confirm_edition}}
                </alert>
            </div> 
             <div *ngIf="confirm_delete"> 
                <alert type="success" dismissible="true" dismissOnTimeout="5000">
                  <strong>Success!</strong> {{confirm_delete}}
                </alert>confirm_assign
            </div>
            <div *ngIf="confirm_assign"> 
                <alert type="success" dismissible="true" dismissOnTimeout="5000">
                  <strong>Success!</strong> {{confirm_assign}}
                </alert>
            </div> 
            <!-- end success -->
            <div class="card" *ngFor="let task of (tasks | sortItems: {property: sortForm.value.task_attribute, direction: 1 } | itemsSearch: searchText | filterItems : filter_property : filter_value | paginate: { itemsPerPage: 4, currentPage: p } )">
                <div class="card-header">
                <!-- (click)="viewIndividualTask(task.id) -->
                    <a href="/taskItem">[TASK-{{task.id}}] {{task.task}}</a>
                    <div [ngStyle]="{'float':'right'}">
                        <span class="badge badge-primary" *ngIf="task.status == 1">Active</span>
                        <span class="badge badge-info" *ngIf="task.status == 2">Reopened</span>
                        <span class="badge badge-success" *ngIf="task.status == 3">Completed</span>
                        <span class="badge badge-warning" *ngIf="task.status == 4">Cancelled</span>
                        <span class="badge badge-danger" *ngIf="task.priority == 1">High priority</span>
                        <span class="badge badge-success" *ngIf="task.priority == 2">Normal priority</span>
                        <span class="badge badge-default" *ngIf="task.priority == 3">Low priority</span>
                    </div>
                </div>
                <div class="card-block">
                    <p class="card-text">{{task.note}}</p>
                    <p class="task__main__comment">Submitted by <strong><i>{{task.submitter_email}}</i> </strong>on <strong>{{task.created_date | date}}.</strong>
                        <font *ngIf="task.assigned_to">Assigned to <i *ngFor="let user of tolausers"><strong *ngIf="task.assigned_to == user.id">{{user.username}}</strong></i> </font>
                    </p>
                    <p class="task__main__comment" *ngIf="task.due_date"><i>Due:<strong> {{task.due_date | date}}</strong></i></p>

                    <div>
                        <tola-button-component buttonClass="btn" (click)="fillInEditTaskForm(task.id)">Edit</tola-button-component>
                        <button class="btn task__delete_btn " type="button" (click)="deleteTask(task.id)">Delete</button>
                        <tola-button-component *ngIf="!task.assigned_to" buttonClass="button--navy btn profile__password-btn" (click)="fillInAssignTaskForm(task.id)">Assign</tola-button-component>
                    </div>
                </div>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <!-- edit task Modal -->
        <div *ngIf="isEditModalShown" [config]="{ show: true }" (onHidden)="onEditHidden()" bsModal #editTaskModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title  offset-md-5">Edit Task</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="editTaskForm" novalidate>
                            <div class="form-group row">
                                <label for="task" class="col-md-2 col-sm-2 col-form-label">Title:</label>
                                <div class="col-md-10 col-sm-10">
                                    <input type="text" id="task" class="form-control" formControlName="task">
                                    <div *ngIf="!editTaskForm.controls.task?.valid && (editTaskForm.controls.task?.dirty ||editTaskForm.controls.task?.touched)" class="alert alert-danger">
                                        <div [hidden]="!editTaskForm.controls.task.errors.required">
                                        Title is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="note" class="col-md-2 col-sm-2 col-form-label">Description:</label>
                                <div class="col-md-10 col-sm-10">
                                    <textarea type="text" id="note" class="form-control" formControlName="note" rows="5"></textarea>
                                    <div *ngIf="!editTaskForm.controls.note?.valid && (editTaskForm.controls.note?.dirty ||editTaskForm.controls.note?.touched)" class="alert alert-danger">
                                        <div [hidden]="!editTaskForm.controls.note.errors.required">
                                        Description is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="due_date" class="col-md-2 col-sm-2 col-form-label">Due Date:</label>
                                <div class="col-md-10 col-sm-10">
                                    <input type="date" id="due_date" class="form-control" formControlName="due_date">
                                    <!-- <datepicker [showWeeks]="true" formControlName="due_date"></datepicker> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="priority" class="col-md-2 col-sm-2 col-form-label">Status:</label>
                                <div class="col-md-10 col-sm-10">
                                    <div class="form-group">
                                        <select class="form-control" id="status" value=1 class="form-control" formControlName="status">
                                                  <option value=1>Active</option>
                                                  <option value=2>Reopened</option>
                                                  <option value=3>Completed</option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="priority" class="col-md-2 col-sm-2 col-form-label">Priority:</label>
                                <div class="col-md-10 col-sm-10">
                                    <div class="form-group">
                                        <select class="form-control" id="priority" formControlName="priority">
                                                  <option value=1>High</option>
                                                  <option value=2>Normal</option>
                                                  <option value=3>Low</option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="assigned_to" class="col-md-2 col-sm-2 col-form-label">Assigned to:</label>
                                <div class="col-md-10 col-sm-10">
                                    <div class="form-group">
                                        <select class="form-control" id="assigned_to" formControlName="assigned_to">
                                                    <option *ngFor="let user of tolausers" value={{user.id}}>{{user.username}}</option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                            <input type="text" id="email" class="form-control" formControlName="submitter_email" hidden>
                            <select class="form-control" id="created_by" formControlName="created_by" hidden>
                                        <option *ngFor="let user of tolausers" value={{user.id}}>{{user.username}}</option>
                                    </select>
                            <div class="text-center">
                                <button class="btn-primary btn" (click)="editTask(task_id,editTaskForm.value)" [disabled]="!editTaskForm.valid">Save Changes</button>
                                <button class="btn task__delete_btn " type="button" (click)="hideModal()">Discard Changes</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- end edit task Modal -->

        <!-- assign task modal -->    
        <div *ngIf="isAssignModalShown" [config]="{ show: true }" (onHidden)="onAssignHidden()" bsModal #assignTaskModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title offset-md-5 font3">Assign Task</h4>
                      
                      <button type="button" class="close pull-right" aria-label="Close" (click)="assignTaskModal.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="assignTaskForm" novalidate>
                        <div class="form-group">
                            <label for="assigned_to" class="col-form-label">Assign Task To:</label>
                            <select class="form-control" formControlName="assigned_to" id="assigned_to">
                                <option disabled>Select User</option>
                                <option *ngFor="let user of tolausers" value={{user.id}} >{{user.username}}</option>
                            </select>
                        
                        </div>

                      <div class="text-center">
                        <button class="btn-primary btn" (click)="assignTask(task_id,assignTaskForm.value)">Assign</button>
                    </div>
                     </form>
                  </div>
              </div>
            </div>
        </div>
        <!-- end assign task modal -->
        <div class="col-md-4">
            <div class="search">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="searchText" name="searchText" placeholder="Search Tasks...">
                    <span class="input-group-btn">
                      <button class="btn btn-info" type="button" disabled><i class="fa fa-search"></i>GO</button>
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <font><strong>Tasks</strong></font>
                </div>
                <div class="card-block">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action justify-content-between" (click)="filter_user_tasks('created',user.id)">
                            <font class="task__make_link">Created by Me</font><span *ngIf="tasks_created" class=" badge badge-primary badge-pill">{{tasks_created.length}}</span></a>
                        <a class="list-group-item list-group-item-action justify-content-between" (click)="filter_user_tasks('assigned',user.id)">
                            <font class="task__make_link">Assigned to Me</font><span *ngIf="tasks_assigned" class="badge badge-primary badge-pill">{{tasks_assigned.length}}</span></a>
                        <a class="list-group-item list-group-item-action justify-content-between" (click)="filter_user_tasks('completed',user.id)">
                            <font class="task__make_link">Completed by Me </font><span *ngIf="tasks_completed" class="badge badge-primary badge-pill">{{tasks_completed.length}}</span></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <font><strong>Sort Tasks</strong></font>
                </div>
                <div class="card-block">
                    <form #sortForm="ngForm">
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="task_attribute" name="task_attribute">
                            <option disabled>Sort</option>
                              <option value="created_date">Created</option>
                              <option value="due_date">Due Date</option>
                              <option value="task">Task Title</option>
                              <option value="status">Status</option>
                              <option value="priority">Priority</option>
                              <option value="assigned_to">Assigned</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <!-- This is Tickets sections (Tickets assigned to a user) -->
            <div class="card">
                <div class="card-header">
                    <font><strong>Your Urgent Tickets</strong></font>
                </div>
                <div class="card-block">
                    <ol>
                        <li><a href=""> [122-TW] Task Title one</a></li>
                        <li><a href=""> [345-TA] Another task title number 1</a></li>
                        <li><a href=""> [342-TT] Ticket tittle on this</a></li>
                        <li><a href=""> [346-TW] Another TolaWork ticket</a></li>
                        <li><a href=""> [456-TA] This is final task</a></li>
                    </ol>
                </div>
            </div>
            <!-- This is Project Initiations Awaiting Your approval -->
            <div class="card">
                <div class="card-header">
                    <font><strong>Initiations Awaiting Approval</strong></font>
                </div>
                <div class="card-block">
                    <ol>
                        <li><a href=""> [122] Project initiation 1</a></li>
                        <li><a href=""> [345] Project initiation 2</a></li>
                        <li><a href=""> [342] Project initiation 3</a></li>
                        <li><a href="">[346] Project initiation 4</a></li>
                        <li><a href=""> [456] Project initiation 5</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>