<div class="container" style="padding:20px; background-color:#fff"> 
    <div *ngFor="let task of tasks">
        <h2>[TASK-{{task.id}}] </h2>
        <div class="card"> 
            <div class="card-header">
                <h4 class="card-title">{{task.task}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">Submitted by <i>{{task.submitter_email}}</i> on {{task.created_date | date}}.</h6>
            </div>
            <div class="card-block">
                
                <p class="card-text">{{task.note}}</p>
                <p><strong> Task Status:</strong>{{task.status}}</p>
                <p><strong> Task Priority:</strong><span *ngIf="task.priority == 1"> High priority</span>
                    <span *ngIf="task.priority == 2">Normal priority</span><span *ngIf="task.priority == 3">Low priority</span></p>
                <p class="task__main__comment">
                    <font *ngIf="task.assigned_to">Assigned to <i *ngFor="let user of tolausers"><strong *ngIf="task.assigned_to == user.id">{{user.username}}</strong></i> </font>
                </p>
                <p class="task__main__comment" *ngIf="task.due_date"><i>Due:<strong> {{task.due_date | date}}</strong></i></p>

                <div>
                    <tola-button-component buttonClass="btn" (click)="editCollapse = !editCollapse" (click)="fillInEditTaskForm(task.id)">Edit</tola-button-component>
                    <tola-button-component *ngIf="!task.assigned_to" buttonClass="button--navy btn profile__password-btn" (click)="assignCollapsed = !assignCollapsed" (click)="fillInAssignTaskForm(task.id)">Assign</tola-button-component>
                    <button class="btn task__delete_btn " type="button" (click)="deleteTask(task.id)">Delete</button>
                </div>
                <div style="margin-top:15px">
                   <!-- edit collapse -->
                    <div [collapse]="editCollapse" class="card card-block card-header">
                      <div class="well well-lg">
                          <form [formGroup]="editTaskForm" novalidate>
                            <div class="form-group row">
                                <label for="task" class="col-md-2 col-sm-2 col-form-label">Title:</label>
                                <div class="col-md-10 col-sm-10">
                                    <input type="text" id="task" class="form-control" formControlName="task">
                                    <div *ngIf="!editTaskForm.controls.task?.valid && (editTaskForm.controls.task?.dirty ||editTaskForm.controls.task?.touched)" class="alert alert-danger">
                                        <div [hidden]="!editTaskForm.controls.task.errors.required">
                                        Title is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="note" class="col-md-2 col-sm-2 col-form-label">Description:</label>
                                <div class="col-md-10 col-sm-10">
                                    <textarea type="text" id="note" class="form-control" formControlName="note" rows="5"></textarea>
                                    <div *ngIf="!editTaskForm.controls.note?.valid && (editTaskForm.controls.note?.dirty ||editTaskForm.controls.note?.touched)" class="alert alert-danger">
                                        <div [hidden]="!editTaskForm.controls.note.errors.required">
                                        Description is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="due_date" class="col-md-2 col-sm-2 col-form-label">Due Date:</label>
                                <div class="col-md-10 col-sm-10">
                                    <input type="date" id="due_date" class="form-control" formControlName="due_date">
                                    <!-- <datepicker [showWeeks]="true" formControlName="due_date"></datepicker> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="priority" class="col-md-2 col-sm-2 col-form-label">Status:</label>
                                <div class="col-md-10 col-sm-10">
                                    <div class="form-group">
                                        <select class="form-control" id="status" value=1 class="form-control" formControlName="status">
                                                  <option value=1>Active</option>
                                                  <option value=2>Reopened</option>
                                                  <option value=3>Completed</option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="priority" class="col-md-2 col-sm-2 col-form-label">Priority:</label>
                                <div class="col-md-10 col-sm-10">
                                    <div class="form-group">
                                        <select class="form-control" id="priority" formControlName="priority">
                                                  <option value=1>High</option>
                                                  <option value=2>Normal</option>
                                                  <option value=3>Low</option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="assigned_to" class="col-md-2 col-sm-2 col-form-label">Assigned to:</label>
                                <div class="col-md-10 col-sm-10">
                                    <div class="form-group">
                                        <select class="form-control" id="assigned_to" formControlName="assigned_to">
                                                    <option *ngFor="let user of tolausers" value={{user.id}}>{{user.username}}</option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                            <input type="text" id="email" class="form-control" formControlName="submitter_email" hidden>
                            <select class="form-control" id="created_by" formControlName="created_by" hidden>
                                        <option *ngFor="let user of tolausers" value={{user.id}}>{{user.username}}</option>
                                    </select>
                            <div class="text-center">
                                <button class="btn-primary btn" (click)="editTask(task_id,editTaskForm.value)" [disabled]="!editTaskForm.valid">Save Changes</button>
                                <button class="btn task__delete_btn " type="button" (click)="hideModal()">Discard Changes</button>
                            </div>

                        </form>
                      </div>
                    </div>
                    <!-- assign collapse -->
                    <div [collapse]="assignCollapsed" class="card card-block card-header">
                      <div class="well well-lg">
                        <form [formGroup]="assignTaskForm" novalidate>
                            <div class="form-group">
                                <label for="assigned_to" class="col-form-label">Assign Task To:</label>
                                <select class="form-control" formControlName="assigned_to" id="assigned_to">
                                    <option disabled>Select User</option>
                                    <option *ngFor="let user of tolausers" value={{user.id}} >{{user.username}}</option>
                                </select>
                            
                            </div>

                            <div class="text-center">
                                <button class="btn-primary btn" (click)="assignTask(task_id,assignTaskForm.value)">Assign</button>
                            </div>
                        </form>
                      </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>