<div class="container"> 
        <div class="card loginForm col-md-6 col-sm-8 offset-md-3">
            <div class="card-block">
                <div class="text-center">
                    <h3 class="topic"><i class="fa fa-lock"></i> Login</h3>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" class="form-control" formControlName="email" placeholder="Enter your email">
                        <div *ngIf="!loginForm.controls.email?.valid && (loginForm.controls.email?.dirty ||loginForm.controls.email?.touched)" class="alert alert-danger">
                            <div [hidden]="!loginForm.controls.email.errors.required">
                                Email is required
                            </div>
                            <div [hidden]="!loginForm.controls.email.errors.pattern">
                                Email must be like example@domain.com
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password">
                        <div *ngIf="!loginForm.controls.password?.valid && (loginForm.controls.password?.dirty ||loginForm.controls.password?.touched)" class="alert alert-danger">
                            <div [hidden]="!loginForm.controls.password.errors.required">
                                Password is required
                            </div>
                            <div [hidden]="!loginForm.controls.password.errors.minlength">
                                Password Minimum Length is {{loginForm.controls.password.errors.minlength?.requiredLength}}
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                    </div>
                </form>
            </div>
        </div>
</div>
<app-footer><app-footer>

