<div class="container profile">
	<div class="text-center">
        <h3 class="topic">My Profile</h3>
    </div> 
	
	    <div class="card col-md-8 offset-md-2">
	        <div class="card-block">
	        <div class="text-center heading">
	        	<h5 class="mt-0">Details</h5>
	        </div> 
	            <div class="media">
				  <img class="d-flex mr-3" src="front_end_assets/img/user.jpg" alt="Generic placeholder image">
				  <div class="media-body user_details">
		            <div>
					  <p class="list-group-item justify-content-between">First Name:<span class="font1">{{user.firstname}}</span></p>
					  <p class="list-group-item justify-content-between">Last Name:<span class="font1">{{user.lastname}}</span></p>
					  <p class="list-group-item justify-content-between">Email:<span class="font1">
					  {{user.email}}</span></p>
					  
					  <p class="list-group-item justify-content-between">Organization: <span class="font1 offset-md-7" *ngFor= "let organization of organizations" class="font1"><font *ngIf="organization.id == user.organization">{{organization.name}}</font>
					  </span></p>
					  <p class="list-group-item justify-content-between">Country: <span class="font1 offset-md-7" *ngFor= "let country of countries"><font *ngIf="country.id == user.country"> {{country.country}}</font>
					</span></p>
					</div>
					<p><i>Last Updated {{user.date_modified | date}}</i></p>
				  </div>
				</div>
	        </div>
	    </div>
	    <div class="card col-md-8 offset-md-2">
	        <div class="card-block">
				<div>	
		            <button type="button" type="button" class="btn btn-primary"
	        		(click)="fillEditUser(user.id)" ><i class="fa fa-edit" aria-hidden="true"></i> Edit Profile</button>
	        		<tola-button-component buttonClass="button--navy btn profile__password-btn" (click)="editPasswordModal.show()">Edit Password</tola-button-component>
				</div>
	            <div [collapse]="isCollapsed" class="profile__edit_form">
		            <form [formGroup]="editUserForm" novalidate>
		            	<div class="form-group row">
		                    <label for="FirstName" class="col-md-3 col-sm-3 col-form-label">First Name</label>
		                    <div class="col-md-9 col-sm-9">
		                    	<input type="text" id="FirstName" class="form-control" formControlName="firstname" value="{{user.firstname}}" >
		                    	<div *ngIf="!editUserForm.controls.firstname?.valid && (editUserForm.controls.firstname?.dirty ||editUserForm.controls.firstname?.touched)" class="alert alert-danger">
			                        <div [hidden]="!editUserForm.controls.firstname.errors.required">
			                            First Name is required
			                        </div>
			                    </div>
		                    </div>
		                </div>
		                <div class="form-group row">
		                    <label for="lastName" class="col-md-3 col-sm-3 col-form-label">Last Name</label>
		                    <div class="col-md-9 col-sm-9">
		                    	<input type="text" id="lastName" class="form-control" formControlName="lastname" value="{{user.lastname}}">
		                    </div>
		                </div>
		            	<div class="form-group row">
		                    <label for="username" class="col-md-3 col-sm-3 col-form-label">Username:</label>
		                    <div class="col-md-9 col-sm-9">
		                        <input type="text" id="username" class="form-control" formControlName="username" value="{{user.username}}">
					            <div *ngIf="!editUserForm.controls.username?.valid && (editUserForm.controls.username?.dirty ||editUserForm.controls.username?.touched)" class="alert alert-danger">
			                        <div [hidden]="!editUserForm.controls.username.errors.required">
			                            UserName is required
			                        </div>
			                    </div>
		                    </div>
		                </div>
		                <div class="form-group row">
		                    <label for="email" class="col-md-3 col-sm-3 col-form-label">Email:</label>
		                    <div class="col-md-9 col-sm-9">
		                        <input type="text" id="email" class="form-control" formControlName="email" value="{{user.email}}">
		                        <div *ngIf="!editUserForm.controls.email?.valid && (editUserForm.controls.email?.dirty ||editUserForm.controls.email?.touched)" class="alert alert-danger">
			                        <div [hidden]="!editUserForm.controls.email.errors.required">
			                            Email is required
			                        </div>
			                        <div [hidden]="!editUserForm.controls.email.errors.pattern">
			                            Email must be like example@domain.com
			                        </div>
			                    </div>
		                    </div>
		                </div>
		                <div class="form-group row">
		                    <div class="col-md-9 col-sm-9">
		                        <input type="text" id="organization" class="form-control" formControlName="organization" value="{{user.organization}}" hidden>
		                    </div>
		                </div> 
		                <div class="form-group row">
		                    <div class="col-md-9 col-sm-9">
		                        <input type="text" id="country" class="form-control" formControlName="organization" value="{{user.country}}" hidden>
		                    </div>
		                </div>  
		                <div class="text-center">
		                   <button class="btn btn-primary" (click)="editProfile(user.id,editUserForm.value)">Save Changes</button>   
		                </div>
	                </form>
	            </div>
	        </div> 
        </div>
    </div>
	<!-- change password modal -->    
  	<div bsModal #editPasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title offset-md-5 font3">Change Password</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="editPasswordModal.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="editPasswordForm" validate>
                  <div class="form-group">
                      <label for="old_password">Old Password</label>
                      <input type="password" id="old_password" class="form-control" placeholder="Enter Old Password" formControlName="old_password">
                      <div *ngIf="!editPasswordForm.controls.old_password?.valid && (editPasswordForm.controls.old_password?.dirty ||editPasswordForm.controls.old_password?.touched)" class="alert alert-danger">
                        <div [hidden]="!editPasswordForm.controls.old_password.errors.required">
                            Password is required
                        </div>
                        <div [hidden]="!editPasswordForm.controls.old_password.errors.minlength">
                            Password Minimum Length is {{editPasswordForm.controls.old_password.errors.minlength?.requiredLength}}
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="new_password">New Password</label>
                      <input type="password" id="new_password" class="form-control" placeholder="Enter New Password" formControlName="new_password"/>
                      <div *ngIf="!editPasswordForm.controls.new_password?.valid && (editPasswordForm.controls.new_password?.dirty ||editPasswordForm.controls.new_password?.touched)" class="alert alert-danger">
                        <div [hidden]="!editPasswordForm.controls.new_password.errors.required">
                            Password is required
                        </div>
                        <div [hidden]="!editPasswordForm.controls.new_password.errors.minlength">
                            Password Minimum Length is {{editPasswordForm.controls.new_password.errors.minlength?.requiredLength}}
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="confirm_new_password">Confirm Password</label>
                      <input type="password" id="confirm_new_password" class="form-control" placeholder="Confirm Your Password" formControlName="confirm_new_password"/>
                      <div *ngIf="!editPasswordForm.controls.confirm_new_password?.valid && (editPasswordForm.controls.confirm_new_password?.dirty ||editPasswordForm.controls.confirm_new_password?.touched)" class="alert alert-danger">
                        <div [hidden]="!editPasswordForm.controls.confirm_new_password.errors.required">
                            Confirm Password is required
                        </div>
                        
                        <div [hidden]="!editPasswordForm.controls.confirm_new_password.errors?.MatchPassword">
                            Password not match
                        </div> 
                    	</div>
                  </div>
                  <div class="text-center">
                      <button class="btn btn-primary" [disabled]="!editPasswordForm.valid" (click) = "editPassword(editPasswordForm.value)">Save Password</button>
                  </div>
                </form>
              </div>
          </div>
    	</div>
    </div>
<app-footer><app-footer>

