<div class="card">
  <div class="card-block" id="colors">
    <h4 class="card-title">Colors</h4>
    <p class="mb-2"><em>Primary</em></p>
    <div class="row">
      <div class="col-sm-4">
        <div class="card card--color">
          <div class="bg--orange card-header">
            <h5 class="color--white">$orange: #DD6E42</h5>
          </div>
          <div class="row">
            <div class="card__sub-color col-sm-6 bg--orange--darker">
              <p class="color--white"><strong>$orange-darker:</strong> #b25c3b</p>
            </div>
            <div class="card__sub-color col-sm-6 bg--orange--lighter">
              <p class="color--white"><strong>$orange-lighter:</strong> #df8a68</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card--color">
          <div class="bg--navy card-header">
            <h5 class="color--white"><strong>$navy:</strong> #526f7e</h5>
          </div>
          <div class="row">
            <div class="card__sub-color col-sm-6 bg--navy--darker">
              <p class="color--white"><strong>$navy-darker:</strong> #425962</p>
            </div>
            <div class="card__sub-color col-sm-6 bg--navy--lighter">
              <p class="color--white"><strong>$navy-lighter:</strong> #6f868f</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="mb-2"><em>Secondary</em></p>
    <div class="row">
      <div class="col-sm-4">
        <div class="card card--color">
          <div class="bg--sky card-header">
            <h5 class="color--white">$sky: #bfd7e0</h5>
          </div>
          <div class="row">
            <div class="card__sub-color col-sm-6 bg--sky--darker">
              <p class="color--white"><strong>$sky-darker:</strong> #9fadb9</p>
            </div>
            <div class="card__sub-color col-sm-6 bg--sky--lighter">
              <p class="color--white"><strong>$sky-lighter:</strong> #cddae7</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card--color">
          <div class="bg--pearl card-header">
            <h5><strong>$pearl:</strong> #e9e9e9</h5>
          </div>
          <div class="row">
            <div class="card__sub-color col-sm-6 bg--pearl--darker">
              <p><strong>$pearl-darker:</strong> #bfbfbf</p>
            </div>
            <div class="card__sub-color col-sm-6 bg--pearl--lighter">
              <p><strong>$pearl-lighter:</strong> #ededed</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card--color">
          <div class="bg--beige card-header">
            <h5 class="color--white"><strong>$beige:</strong> #e7dbb7</h5>
          </div>
          <div class="row">
            <div class="card__sub-color col-sm-6 bg--beige--darker">
              <p class="color--white"><strong>$beige-darker:</strong> #c1b498</p>
            </div>
            <div class="card__sub-color col-sm-6 bg--beige--lighter">
              <p class="color--white"><strong>$beige-lighter:</strong> #ebdec2</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card card--color">
          <div class="bg--red card-header">
            <h5 class="color--white">$red: #cc474d</h5>
          </div>
          <div class="row">
            <div class="card__sub-color col-sm-6 bg--red--darker">
              <p class="color--white"><strong>red-darker:</strong> #b03941</p>
            </div>
            <div class="card__sub-color col-sm-6 bg--red--lighter">
              <p class="color--white"><strong>$red-lighter:</strong> #d9636b</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card--color">
          <div class="bg--blue card-header">
            <h5 class="color--white"><strong>$blue:</strong> #1696a6</h5>
          </div>
          <div class="row">
            <div class="card__sub-color col-sm-6 bg--blue--darker">
              <p class="color--white"><strong>$blue-darker:</strong> #117e8e</p>
            </div>
            <div class="card__sub-color col-sm-6 bg--blue--lighter">
              <p class="color--white"><strong>$blue-lighter:</strong> #33a7b8</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card--color">
          <div class="bg--green card-header">
            <h5 class="color--white"><strong>$green:</strong> #4b958d</h5>
          </div>
          <div class="row">
            <div class="card__sub-color col-sm-6 bg--green--darker">
              <p class="color--white"><strong>$green-darker:</strong> #407c6f</p>
            </div>
            <div class="card__sub-color col-sm-6 bg--green--lighter">
              <p class="color--white"><strong>$green-lighter:</strong> #6aa699</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card card--color">
          <div class="bg--yellow card-header">
            <h5 class="color--white">$yellow: #d5b251</h5>
          </div>
          <div class="row">
            <div class="card__sub-color col-sm-6 bg--yellow--darker">
              <p class="color--white"><strong>yellow-darker:</strong> #af9245</p>
            </div>
            <div class="card__sub-color col-sm-6 bg--yellow--lighter">
              <p class="color--white"><strong>$yellow-lighter:</strong> #d9bc6e</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
