<div class="card" id="buttons">
  <div class="card-block">
    <h4 class="card-title">Buttons</h4>
    <p class="mb-2"><em>Primary</em></p>
    <tola-button-component buttonClass="btn-primary">Primary</tola-button-component>
    <tola-button-component buttonClass="button--navy btn">Navy</tola-button-component>
    <tola-button-component buttonClass="btn">Default</tola-button-component>
    <tola-button-component buttonClass="button--cancel btn">Cancel</tola-button-component>
    <tola-button-component buttonClass="button--action btn">
      <div class="icon-plus"></div>
    </tola-button-component>
    <tola-button-component buttonClass="button--plain btn">Plain</tola-button-component>
    <p class="mt-4 mb-2"><em>Secondary</em></p>
    <tola-button-component buttonClass="btn-secondary">Secondary</tola-button-component>
    <tola-button-component buttonClass="button--secondary-orange btn">Secondary Orange</tola-button-component>
  </div>
  <div class="card-footer text-muted">
    <prism-block [code]="codeSnippets" [language]="'markup'"></prism-block>
  </div>
</div>
