@import "../../../assets/scss/config/_config";

/*
 * Define the widths: play around with these
 * to get a best fit.
 */
$title-width: 220px;
$stage-width: 120px;
$owner-width: 110px;
$date-width: 110px;
$budget-width: 95px;
$status-width: 42px;
$icon-width: 36px;

.list {
  margin-bottom: 37px;
  .list__header {
    padding: 14px 0;
  }
  .list__card-block {
    padding: 0;
  }
}
.list {
  &__header{

  }
}

// leaf level containers: widths

.list__header_stage, .list__item_stage { width: $stage-width; min-width: $stage-width; }
.list__header_owner, .list__item_owner { width: $owner-width; min-width: $owner-width; }
.list__header_date, .list__item_date { width: $date-width; min-width: $status-width;}
.list__header_status, .list__item_status { width: $status-width; }
.list__header_budget, .list__item_budget { width: $budget-width; min-width: $budget-width;}
.list__header_icon, .list__item_icon { width: $icon-width; min-width: $icon-width; }


.list__header_title {
  font-size: 17px;
  color: $navy-darker;
  padding-left: 7px;
}

.list__header_stage,
.list__header_owner,
.list__header_date,
.list__header_status,
.list__header_budget,
.list__header_icon {
  font-size: 12px;
  color: $pearl-darker;
}

.list__subitem_row,
.list__item_row {
  min-height: 44px;
  font-size: 14px;
}
.list__border {
  border: 1px solid $pearl-darker;
  box-sizing: border-box;
}
.list__subitem {
  margin-left: 50px;
  background-color: $pearl-lighter;
}
.list__item_row {
  .list__icon_drag {
    margin: 0 9px 0 11px;
    padding-top: 3px;
  }
}
.list__subitem_row {
  .list__icon_drag {
    margin: 0 12px;
    padding-top: 3px;
  }
}
.list__item_active {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: $blue-lighter;
  }
}

/* @ dots in list */
.list__dot {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.list__dot_red {
  background-color: $red-darker;
}
.list__dot_green {
  background-color: $green-darker;
}
.list__dot_yellow {
  background-color: $yellow-darker;
}
/* /@ dots in list */

/* @ Indicator section */
.list__indicators {
  padding: rem-calc(0 15 0 32);
}
.list__indicator {
  height: 28px;
  margin-bottom: 7px;
  border-radius: 10px;
  background-color: $sky-lighter;
}
.list__indicator_title {
  font-size: 12px;
  color: $navy-lighter;
  text-transform: uppercase;
  margin: 5px 0;
}
/* /@Indicator section */
