.content
{
	margin-top: 25px;
}
.font1
{
	font-weight: bold;
}
.font2
{
	color: #fff;
}
.badge
{
	padding:5px;
}
.task
{
	background-color: #f8f8f8;
	font-weight: bold;
}
.task_main
{
	border-left:1px solid#f8f8f8;
	border-right:1px solid#f8f8f8;
}
.edit_btn
{
	background-color: #6CB7F0;
	color:#fff;
}
.delete_btn
{
	background-color: #E15F4F;
}
.card
{
	margin-bottom: 10px;
}
.edit_task
{
	margin-top: 15px;
}
.bottom_margin
{
	margin-bottom: 15px;
}