<h3>{{pageTitle}}</h3>
<form class="">
  <div class="card-form">
    <div class="card-group card-form">
      <div class="card col title">
        <div class="card-block title">
          <h5>Collected Data</h5>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card col col-md-4">
        <div class="card-block">
          <label for="targeted">Targeted</label>
          <input type="number" class="form-control" id="targeted" placeholder="Enter target">
        </div>
      </div>
      <div class="card col col-md-4">
        <div class="card-block">
          <label for="achieved">Achieved</label>
          <input type="number" class="form-control" id="achieved" placeholder="Enter numer">
        </div>
      </div>
      <div class="card col col-md-4">
        <div class="card-block">
          <label for="date-c">Date Collected*</label>
          <input type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control" id="date-c"
                 placeholder="Enter Date">
        </div>
      </div>
    </div>
    <div class="card-group card-form">
      <div class="card col">
        <div class="card-block">
          <label for="targeted">Remarks / Comments</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="card-form">
    <div class="card-group card-form">
      <div class="card col title">
        <div class="card-block title">
          <h5>Evidence</h5>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card col col-md-4">
        <div class="card-block">
          <label>Project Initiation</label>
          <select class="form-control">
            <option>Default select</option>
            <option>Project 1</option>
            <option>Project 2</option>
          </select>
        </div>
      </div>
      <div class="card col col-md-4">
        <div class="card-block">
          <label for="achieved">Achieved</label>
          <input type="number" class="form-control" id="achieved" placeholder="Enter numer">
        </div>
      </div>
      <div class="card col col-md-4">
        <div class="card-block">
          <label for="date-c">Date Collected*</label>
          <input type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control" id="date-c"
                 placeholder="Enter Date">
        </div>
      </div>
    </div>
    <div class="card-group card-form">
      <div class="card col actions">
        <div class="card-block">
          <button class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>
