@import "../assets/scss/config/_config";
@import "~daemonite-material/assets/sass/mixins";
//variables
@import "./pages/forms/material-form/variables/variables";
$brand-color:                   #DD6E42 !default;
$brand-color-dark:              $palette-purple-700 !default;
$brand-color-light:             $palette-purple-100 !default;
$textfield-border-color-focus: #DD6E42 !default;
// material components
@import "~daemonite-material/assets/sass/material/button-flat";
@import "~daemonite-material/assets/sass/material/button-float";
@import "~daemonite-material/assets/sass/material/card";
@import "~daemonite-material/assets/sass/material/text-field";
@import "~daemonite-material/assets/sass/material/text-field-input-group";
// utilities
@import "~daemonite-material/assets/sass/utilities";

.main{
  padding-bottom: rem-calc(40);
  .container-fluid{
    padding: rem-calc(28 28 0 28);
    max-width: $container-fluid-max-width;
  }
}

.login{
	margin-top:60px;
}
//social
.btn_social{
	&__icon
	{
		position:relative;
		text-align:center;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		height:34px;
		width:34px;
		padding:0;
		margin_left:10px;
		color:#fff;
		border-color:rgba(0,0,0,0.2)
	}
	&__facebook
	{
		background-color:#3b5998;
	}
	&__google
	{
		background-color: #dd4b39;
	}
	&__linkedIn
	{
		background-color: #007bb6;
	}
}
		


