 <footer>
     
         <div id="footer"  class="container navbar-fixed-bottom">
      <div class=" row">
          <div class="col-md-6 col-sm-6 text-left">
              <b>Tola</b>Data: Built by <a href="http://www.toladata.com" class="text-muted">OpenBuild</a>
          </div>

          <div class="col-md-6 col-sm-6 text-right"> <a href="http://tola.work/documentation" class="text-muted">Documentation</a> | <a href="http://tola.work/helpdesk/tickets/submit/" class="text-muted">Feedback</a> | <a href="https://github.com/toladata/TolaActivity/blob/master/LICENSE" class="text-muted">License</a>
          </div>
      </div>
  </div>
    
 </footer>