
footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 5px;
    border-top: 0px solid #636c72;
    background-color:  #eceeef;
    z-index: 1000;
    color:  #003C71;
}
.text_left
{
	float:left;
}
.text_right
{
	float:left;
}