<div class="card" id="basic-form">
  <div class="card-block">
    <h4 class="card-title">Basic Forms</h4>
    <tola-input-inline
      labelText="Input"
      inputPlaceholder="Placeholder text"
    ></tola-input-inline>
    <tola-input-inline
      labelText="Short Input"
      inputPlaceholder="col-md-4"
      inputClass="col-md-4"
    ></tola-input-inline>
    <tola-select-inline
      labelText="Select"
      selectClass="col-md-2"
    >
      <option value="option 1">Option 1</option>
      <option value="option 2">Option 2</option>
      <option value="option 3">Option 3</option>
      <option value="option 4">Option 4</option>
    </tola-select-inline>
    <tola-checkbox-inline
      labelText="Checkbox"
      [inline]=true
      [checkboxData]="['Option one','Option two','Option three']"
    ></tola-checkbox-inline>
    <tola-radio-inline
      labelText="Radios"
      [inline]=true
      [radioData]="['Option one','Option two','Option three']"
    ></tola-radio-inline>
    <tola-submit-inline
      [border]=false
    ></tola-submit-inline>
  </div>
  <div class="card-footer text-muted">
    <prism-block [code]="codeSnippets" [language]="'markup'"></prism-block>
  </div>
</div>
