<h2>{{ 'HOME.TITLE' | translate }}</h2>
<label>
  {{ 'HOME.SELECT' | translate }}
  {{ translate.currentLang }}
  <select #langSelect (change)="translate.use(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
  </select>
</label>

<p *ngIf="networkStatus">{{ 'HOME.ONLINE' | translate }}</p>
<p *ngIf="!networkStatus">{{ 'HOME.OFFLINE' | translate }}</p>
<label for="firstName">{{ 'HOME.FIRST_NAME' | translate }}</label>
<input type="text" name="firstName" id="firstName" [(ngModel)]="firstName">
<label for="lastName">{{ 'HOME.LAST_NAME' | translate }}</label>
<input type="text" name="lastName" id="lastName" [(ngModel)]="lastName">
<tola-button-component (click)="add()" buttonClass="btn-primary">{{ 'HOME.ADD' | translate }}</tola-button-component>

<h3>Local store: </h3>
<ul>
  <li *ngFor="let user of usersStore | async">{{ user.firstName }} {{ user.lastName }} {{ user.date }} <button (click)="showEditUser(user)">edit</button><button (click)="deleteUser(user)">delete</button></li>
</ul>
<div *ngIf="userEdit">
  <a (click)="closeEdit()" href="javascript:void(0)">x</a>
  <label for="editFirstName">{{ 'HOME.FIRST_NAME' | translate }}</label>
  <input type="text" name="firstName" id="editFirstName" [(ngModel)]="userEdit.firstName">
  <label for="editLastName">{{ 'HOME.LAST_NAME' | translate }}</label>
  <input type="text" name="lastName" id="editLastName" [(ngModel)]="userEdit.lastName">
  <tola-button-component (click)="editUser(userEdit)">{{ 'HOME.SAVE' | translate }}</tola-button-component>

</div>

<input type="text" [(ngModel)]="value">
<ngx-barcode [bc-value]="value" [bc-display-value]="true"></ngx-barcode>
<qr-code *ngIf="value" [value]="value" [size]="150"></qr-code>

<!--<qr-scanner
  [debug]="false"
  [canvasWidth]="640"
  [canvasHeight]="480"
  [mirror]="false"
  [stopAfterScan]="true"
  [updateTime]="500"
  (onRead)="decodedOutput($event)"></qr-scanner>-->


<!--<div id="yourElement"></div>-->

<!--<button (click)="startQuagga()">Start Stream</button>
<div id="yourElement"></div>-->

<button (click)="openBarcode()">Barcode</button>
<button (click)="openBarcodeImage()">Barcode from image</button>
<button (click)="openQRCode()">QR-code</button>
<div id="yourElement"></div>
