@import "../../../../assets/scss/config/_config";
@import "~daemonite-material/assets/sass/mixins";
@import "../../forms/material-form/variables/variables";
@import "~daemonite-material/assets/sass/material/card";
@import "~daemonite-material/assets/sass/material/picker";
@import "~daemonite-material/assets/sass/material/text-field-input-group";
@import "~daemonite-material/assets/sass/utilities";
$red: #cc474d;
$orange: #DD6E42;
.task
{
	background-color: #fff;
	padding-top:20px;
	&__margin{
		margin-bottom: 15px
	}
	&__main{
		border:1px solid#f8f8f8;
		padding-top:10px;
		&__comment{
			font-size:12px;
		}
	}
	&__delete_btn{
		background-color: $red;
		color:#fff;
	}
	&__make_link{
		cursor:pointer;
		color:$orange;

	}
}
.card-header
{
	padding-bottom:10px
}
.font1
{
	font-weight: bold;
}
.badge
{
	padding:5px;
}

.card
{
	margin-bottom: 10px;
}

.make_link
{
	cursor:pointer;
	color:blue;

}
.search
{
	margin-bottom:10px;
}