<div class="container content"> 
    <div class="card col-md-6 offset-md-3">
        <div class="card-block">
            <div class="text-center">
                <h3><i class="fa fa-lock"></i> Login</h3>
                <hr class="mt-2 mb-2">
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
                <!--Body-->
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" id="form2" class="form-control" formControlName="email">
                    <label for="form2">Email</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="form4" class="form-control" formControlName="password">
                    <label for="form4">Password</label>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

