<div class="container content">
	<div class="text-center">
        <h3 class="topic">{{user.username}} Profile</h3>
    </div> 
	
	    <div class="card col-md-6 offset-md-3">
	        <div class="card-block">
	        <div class="text-center heading">
	        	<h5 class="mt-0">Details</h5>
	        </div> 
	            <div class="media">
				  <img class="d-flex mr-3" src="front_end_assets/img/user.jpg" alt="Generic placeholder image">
				  <div class=" user_details">
				    <table class="table table-responsive">
	            	<tr><td>First Name:</td><td>{{user.firstname}}</td></tr>
	            	<tr><td>Last Name:</td><td>{{user.lastname}}</td></tr>
	            	<tr><td">Email:</td><td></td>{{user.email}}</tr>
	            </table>
				  </div>
				</div>
	        </div>
	    </div>
	    <div class="card col-md-6 offset-md-3">
	        <div class="card-block">
	            <button type="button" class="btn btn-info"><i class="fa fa-edit" aria-hidden="true"></i> Edit Profile</button>
	        </div>
	    </div>
</div>
<app-footer><app-footer>

