.card{
    .table{
        margin-bottom: 0;
        thead th{
            border-top: none;
            border-bottom-width: 1px;
        }
    }
}
.thead-medium{
    background-color: $card-headings;
}
th{
    font-size: rem-calc(14);
    text-transform: uppercase;
    font-weight: 500;
    color: $navy-darker;
}