@import "../../../../assets/scss/config/_config";
$sidebarPadding: rem-calc(30);

.sidebar{
  &--wrap{
    position: relative;
  }
  &--sticky{
    @include media-breakpoint-up(lg) {
      &.fixed {
        width: calc(25% - 36px);
        max-width: rem-calc(330);
        position: fixed;
        top: $global-margin;
      }
    }
  }
}
