<div class="sidebar sidebar--sticky card">
  <div class="card-block">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#buttons">Buttons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#colors">Colors</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#basic-form">Basic Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Printed Style Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tabs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Accordion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Modals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Graphs</a>
      </li>
    </ul>
  </div>
</div>
