<div class="sub-nav">
    <div class="sub-nav__cont container-fluid">
        <ul class="nav">
            <li class="sub-nav__item nav-item">
                <a class="sub-nav__link nav-link" routerLink="/home"><span class="glyphicons glyphicons-dice-5"></span>TolaProfile</a>
            </li>
            <li *ngIf="isLogged" class="sub-nav__item nav-item">
                <a class="sub-nav__link nav-link" routerLink="/task">Tasks</a>
            </li>
            <li *ngIf="!isLogged" class="sub-nav__item nav-item">
                <a class="sub-nav__link nav-link" routerLink="/register">Register</a>
            </li>
        </ul>
    </div>
</div>