@import "../../../../assets/scss/config/_config";
.sub-nav {
  background-color: $white;
  height: auto;
  margin-left:5px;
  padding:10px;
  &__cont{
    width: 1000px;
    
  }
  &__link {
    padding: rem-calc(13 30 0 0);
    color: $navy-darker;
    font-weight: 500;
    cursor: pointer;
  }
  &__link--right{
    right:90px;
    position:absolute;
  }
  &__link--far_right{
    right:0px;
    position:absolute
  }

}
