<div class="sub-nav">
    <div class="sub-nav__cont container">
        <ul class="nav">
            <li class="sub-nav__item nav-item">
                <a class="sub-nav__link nav-link" routerLink="/home"><span class="glyphicons glyphicons-dice-5"></span>Home</a>
            </li>
            <li class="sub-nav__item nav-item">
                <a class="sub-nav__link nav-link" routerLink="/task">Tasks</a>
            </li>
            <li class="sub-nav__item nav-item">
                <a class="sub-nav__link sub-nav__link--right nav-link" routerLink="/login">Login</a>
            </li>
            <li class="sub-nav__item nav-item">
                <a class="sub-nav__link sub-nav__link--far_right nav-link" routerLink="/register">Register</a>
            </li>
        </ul>
    </div>
</div>