<div class="sub-nav">
  <div class="sub-nav__cont container-fluid">
    <ul class="nav">
      <li class="sub-nav__item nav-item">
        <a class="sub-nav__link nav-link" routerLink="/style-guide">Style Guide</a>
      </li>
      <li class="sub-nav__item nav-item dropdown" dropdown>
    <span class="sub-nav__link nav-link  dropdown-toggle active" dropdownToggle data-toggle="dropdown">Forms <span
      class="caret"></span></span>
        <div class="dropdown-menu dropdown-menu-center" *dropdownMenu>
          <a class="dropdown-item" routerLink="/form-enketo">Enketo Style</a>
          <a class="dropdown-item" routerLink="/form-bootstrap">Bootstrap Forms</a>
          <a class="dropdown-item" routerLink="/form-material">Material Form</a>
        </div>
      </li>
      <li class="sub-nav__item nav-item dropdown" dropdown>
    <span class="sub-nav__link nav-link dropdown-toggle" dropdownToggle data-toggle="dropdown">Tables <span
      class="caret"></span></span>
        <div class="dropdown-menu dropdown-menu-center" *dropdownMenu>
          <a class="dropdown-item" routerLink="/table-ngx-datatable">Ngx Data Table</a>
        </div>
      </li>
      <li class="sub-nav__item nav-item dropdown" dropdown>
        <span class="sub-nav__link nav-link  dropdown-toggle" dropdownToggle data-toggle="dropdown">Sorting <span
          class="caret"></span></span>
        <div class="dropdown-menu dropdown-menu-center" *dropdownMenu>
          <a class="dropdown-item" routerLink="/sorting-dragula">Dragula</a>
        </div>
      </li>
      <li class="sub-nav__item nav-item">
        <a class="sub-nav__link nav-link" routerLink="/list">List</a>
      </li>
    </ul>
  </div>
</div>
