@import "~daemonite-material/assets/sass/mixins";
@import "variables/variables";
$brand-color:                   #DD6E42 !default;
$brand-color-dark:              $palette-purple-700 !default;
$brand-color-light:             $palette-purple-100 !default;
$textfield-border-color-focus: #DD6E42 !default;
//
// material components
// components covered in material design guidelines https://material.google.com/components
//
  // @import "~daemonite-material/assets/sass/material/button";
  @import "~daemonite-material/assets/sass/material/button-flat";
  @import "~daemonite-material/assets/sass/material/button-float";
  // @import "~daemonite-material/assets/sass/material/card";
  @import "~daemonite-material/assets/sass/material/chip";
  @import "~daemonite-material/assets/sass/material/data-table";
  @import "~daemonite-material/assets/sass/material/dialog";
  @import "~daemonite-material/assets/sass/material/expansion-panel";
  @import "~daemonite-material/assets/sass/material/menu";
  @import "~daemonite-material/assets/sass/material/navdrawer";
  @import "~daemonite-material/assets/sass/material/picker";
  @import "~daemonite-material/assets/sass/material/progress";
  @import "~daemonite-material/assets/sass/material/progress-circular";
  @import "~daemonite-material/assets/sass/material/selection-control";
  @import "~daemonite-material/assets/sass/material/stepper";
  @import "~daemonite-material/assets/sass/material/tab";
  @import "~daemonite-material/assets/sass/material/text-field";
  @import "~daemonite-material/assets/sass/material/text-field-floating-label";
  @import "~daemonite-material/assets/sass/material/text-field-input-group";
  @import "~daemonite-material/assets/sass/material/text-field-textarea";
  @import "~daemonite-material/assets/sass/material/toolbar";
  @import "~daemonite-material/assets/sass/material/tooltip";

//
// utilities
//
  @import "~daemonite-material/assets/sass/utilities";

  // @import "~@angular/material/theming";
