.content
{
	margin-top:60px;
}
.topic
{
	margin-bottom:20px;
	text-transform: capitalize;
}
.card
{
	margin-bottom: 15px;
}
.heading
{
	margin-bottom: 20px;
}
.user_details
{

	margin-left: 30px;
}
.font1
{
	font-weight: bold;
}
.edit_collapse
{
	margin-top: 10px
}